<h3>Password Reset Instructions</h3>
<p>
    Greetings! {{ username }} we are writting you because we have received a
    notice to reset your password. If it's the case please, please follow this
    link: {{ link }}
</p>
