<h3>Your password has been successfully reseted !</h3>

Hi {{ username }}! Your new password is <b>{{ password }}</b><br>


{# example, assuming you have a route named "login" #}
To login, go to: <a href="http://http://gage.vps.co.ve/daquino-prod/login">Daquino login page</a>.

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
{# <img src="{{ absolute_url(asset('images/logo.png')) }}"> #}